<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
    <link rel="stylesheet" type="text/css" href="{{ custom_paths.theme }}">
	</head>
  <body>
   {% if custom_paths.header %}{% include custom_paths.header %}{% endif %} 
    <div class="content_block">
      <div class="vert_mid">
        <h3>{{ lang.signin.instructions }}</h3>
        <div id="err_msg_field"></div>
        <form action="/users-auth.io" method="post" id="auth_form">
          <input name="email" type="text" placeholder="{{ lang.signin.placeholder.email }}" />
          <input name="pwd" type="password" placeholder="{{ lang.signin.placeholder.pwd }}" />
          <input type="hidden" name="command" value="authenticate" />
          <input class="submit" type="submit" value="{{ lang.signin.submit }}"}>
        </form>
      </div>
    </div>
    <div class="auth_spacer"></div>
    {% if custom_paths.footer %}{% include custom_paths.footer %}{% endif %} 
  </body>
  <script>
    var custom_modules = [
      {% for mod in custom_paths.modules %}'{{ mod }}',{% endfor %}
    ];
console.log(custom_modules);
  </script>
  <script src="main.js"></script>
</html>
