

html, body {
    height: 100%;
    width: 100%;
}

.content_block {
    display: block;
//    background-color: #F9F9F9;
    position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
}

.vert_mid {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  padding: 100px 200px;
  color: #333;
  background-color: #f0f0f0;
  border: 1px solid #CCC;
  box-shadow: 0px 0px 30px #DDD;
  border-radius: 2px;
}

.vert_mid h3 {
  margin: 0;
  padding: 0;
}

.vert_mid input {
  background-color: #EEE;
  border: 1px solid #CCC;
  color: #333;
  padding: 4px 10px;
  font-size: 20px;
}

.vert_mid input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #EEE inset;
  -webkit-text-fill-color: #333 !important;
}

.vert_mid input[type="text"], .vert_mid input[type="password"] {
  width: calc(100% - 22px);
  margin-top: 15px;
}

.vert_mid input[type="submit"] {
  margin-top: 20px;
  box-shadow: 0px 0px 5px #CCC;
}

.vert_mid a {
  text-decoration: none;
  color: #daa85d;
}



.submit {
  margin-top: 10px;
  margin-left: 190px;
}

#err_msg_field {
  color: #bf4835;
  position: absolute;
  width: fit-content;
  left: 50%;
  transform: translate(-50%,0%);
  bottom: 70px;
}

#err_msg_field p {
  margin: 0;
}

.auth_spacer {
  height: 100vh;
}
