<script>
  const FLYAUTH_SESSION_DATA = '{{ flyauth_session_data }}'.length > 0 ? JSON.parse('{{ flyauth_session_data }}'.replace(/&quot;/g, '"').replace(/&#39;/g, "'")) : undefined;

  function getParamByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return results[2].replace(/\+/g, " ");
  }

  function parse_mellisuga_tag(elem, use_auth) {
    elem.src = elem.getAttribute("src");


    console.log("parse_mellisuga_tag", elem, use_auth);
    if (use_auth || FLYAUTH_SESSION_DATA) {
      elem.src = elem.src.includes("?")
        ? elem.src+"&authentials="+AUTHENTIALS
        : elem.src+"?authentials="+AUTHENTIALS;
    }

    if (elem.name === "mellisuga/css" || elem.name === "flyauth/css") {
      let rlink = document.createElement("link"); 
      rlink.rel = "stylesheet";
      rlink.type = "text/css";
      rlink.href =  elem.src;
      elem.parentNode.replaceChild(rlink, elem);
    } else if (elem.name === "mellisuga/js" || elem.name === "flyauth/js") {
      let rlink = document.createElement("script"); 
      rlink.type = "text/javascript";
      rlink.src =  elem.src;
      elem.parentNode.replaceChild(rlink, elem);
      console.log(rlink);
    }
  }

  // Options for the observer (which mutations to observe)
  const flyauth_observer_config = { attributes: true, childList: true, subtree: true };



  let flyauth_load_queue = [];
  let flyauth_link_queue = [];


  // Callback function to execute when mutations are observed
  const flyauth_observer_callback = function(mutationsList, observer) {
      for (const mutation of mutationsList) {
          if (mutation.type === 'childList') {
          //  console.log(mutation, observer);
            for (let n = 0; n < mutation.addedNodes.length; n++) {
              if (mutation.addedNodes[n].nodeName === "META" && (mutation.addedNodes[n].name.startsWith("mellisuga/") || mutation.addedNodes[n].name.startsWith("flyauth/")) ) {
                if (mutation.addedNodes[n].hasAttribute("auth")) {
                  if (!AUTHENTIALS && FLYAUTH_SESSION_DATA) {
                    flyauth_load_queue.push(mutation.addedNodes[n]);
                  } else {
                    parse_mellisuga_tag(mutation.addedNodes[n], true);
                  }
                } else {
                  parse_mellisuga_tag(mutation.addedNodes[n]);
                }

              }/* else if (mutation.addedNodes[n].nodeName === "META" && mutation.addedNodes[n].name.startsWith("flyauth/")) { //TODO OUTDATED
                if (!AUTHENTIALS && FLYAUTH_SESSION_DATA) {
                  flyauth_load_queue.push(mutation.addedNodes[n]);
                } else {
                  load_flyauthorized(mutation.addedNodes[n]);
                }
              } else if (mutation.addedNodes[n].nodeName === "A") {
                if (mutation.addedNodes[n].hasAttribute("flyauth")) {
                  if (!AUTHENTIALS && FLYAUTH_SESSION_DATA) {
                    flyauth_link_queue.push(mutation.addedNodes[n]);
                  } else {
                    flyauth_link(mutation.addedNodes[n]);
                  }
                }
              }*/
            }
          }
      }
  };

  // Create an observer instance linked to the callback function
  const flyauth_observer = new MutationObserver(flyauth_observer_callback);


  console.log("flyauth_observer", flyauth_observer);

  (function() {
    const targetNode = document.getElementsByTagName('head')[0];


    // Start observing the target node for configured mutations
    if (typeof disable_flyauth_observer === "undefined") flyauth_observer.observe(targetNode, flyauth_observer_config);

    let authentials_rdy = false;
    let authentials_wait_interval = setInterval(function() {
      console.log("AUTH INTERVAL", AUTHENTIALS, FLYAUTH_SESSION_DATA);
      if ((AUTHENTIALS || !FLYAUTH_SESSION_DATA) && !authentials_rdy) {
        clearInterval(authentials_wait_interval);
        authentials_rdy = true;
        for (let l = 0; l < flyauth_load_queue.length; l++) {
          load_flyauthorized(flyauth_load_queue[l]);
        }
        for (let l = 0; l < flyauth_link_queue.length; l++) {
          flyauth_link(flyauth_link_queue[l]);
        }
      }
    }, 100);
  })();

  let AUTHENTIALS = getParamByName("authentials");
  console.log("CUR AUTHENTIALS", window.location.href);
  console.log("CUR AUTHENTIALS", AUTHENTIALS);

  const FLYAUTH_TOKEN_EXP = {{ flyauth_token_exp }};
  const FLYAUTH_TOKEN_EXPD = {{ flyauth_token_expd }};
  const FLYAUTH_PREFIX = "{{ flyauth_prefix }}"; 
  let FLYAUTH_RSA_KEY = JSON.parse('{{ flyauth_rsa_key | safe }}'.replace(/\n/g, "\\\\n").replace(/\r/g, "\\\\r").replace(/\t/g, "\\\\t")); 
  FLYAUTH_RSA_KEY.publicKey = FLYAUTH_RSA_KEY.publicKey.replace(/\\n/g, "\r\n");
  FLYAUTH_RSA_KEY.delayed_exp_timestamp = Date.now()+FLYAUTH_RSA_KEY.exp+FLYAUTH_RSA_KEY.exp_delay;
  setInterval(function() {
    if (Date.now() > FLYAUTH_RSA_KEY.delayed_exp_timestamp) {
      window.location.reload();
    }
  }, 1000 * 60 * 1);
</script>
