<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CMBird Setup</title>

    <link rel="stylesheet" type="text/css" href="theme.css">
    <link rel="stylesheet" type="text/css" href="{{ custom_paths.theme }}">
	</head>
  <body>
    {% if custom_paths.header %}{% include custom_paths.header %}{% endif %}
    <div class="content_block">
      <div class="vert_mid">
        <h3>{{ lang.signup.instructions }}</h3>
        <div id="err_msg_field"></div>
        <form action="/users-auth.io" method="post">
          <input name="email" type="text" placeholder="{{ lang.signup.placeholder.email }}" />
          <span >
            <input name="pwd" type="password" placeholder="{{ lang.signup.placeholder.pwd1 }}" />
            <input name="pwdr" type="password" placeholder="{{ lang.signup.placeholder.pwd2 }}" /><br />
          </span>
          <div>
            {% if (custom_paths.agreement) or (custom_paths.privacy) %}
              <input type="checkbox">{{ lang.signup.agree.doyou }}
              {% if custom_paths.agreement %}
              <a href="{{ custom_paths.agreement }}">{{ lang.signup.agree.agreement }}</a>{% if custom_paths.privacy %} {{ land.signup.agree.and }} {% endif -%}
              {%- endif -%}
              {%- if custom_paths.privacy %}<a href="{{ custom_paths.privacy }}">{{ lang.signup.agree.privacy }}</a>{% endif %}?
            {% endif %}
          </div>
          <input type="hidden" name="command" value="register" />
          <input class="submit" type="submit" value="{{ lang.signup.submit }}">
        </form>
      </div>
    </div>
    {% if custom_paths.footer %}{% include custom_paths.footer %}{% endif %}
  </body>
  <script src="main.js"></script>
</html>
